html {
  background-color: black;
}

.btn-login {
  border: none;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.btn:hover {
  transform: translateY(-3px);
}

.card-img-top {
  height: 180px;
}

.centered {
  text-align: center;
}

.discord {
  img {
    width: 50%;
  }
}

.red {
  background-color: $primary;
  color: white;

  h1,
  h2 {
    color: white;
  }
}

.inverse {
  background-color: rgba(black, 0.8);
  color: white;

  h1,
  h2 {
    color: white;
  }
}

.black {
  background-color: rgba(black, 1);
  color: white;

  a {
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}

.footer {
  background-color: black;

  .copyright {
    text-align: center;
    color: gray;
  }

  img {
    height: 20px;
  }
}

.hero-img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(75, 75, 75);
  font-weight: bold;
}

.navbar-dark {
  background-color: black;
}

.navbar-nav .nav-link {
  font-family: $font-family-base;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  :not(.btn-login) {
    color: $primary;
  }
}

.navbar-brand img {
  height: 35px;
}

.row > [class*="col-"] {
  margin-top: 1rem;
}

iframe {
  max-width: 100%;
}

.social-img {
  max-width: 125px;
  margin-bottom: 20px;
}

.color-telegram {
  color: $telegram;
}

.background-color-telegram {
  background-color: $telegram;
  border-color: $telegram;
  color: white;
}

.color-youtube {
  color: $youtube;
}

.background-color-youtube {
  background-color: $youtube;
  border-color: $youtube;
  color: white;
}

.color-discord {
  color: $discord;
}

.background-color-discord {
  background-color: $discord;
  border-color: $discord;
  color: white;

  &:hover,
  &:focus {
    background-color: $discord;
    border-color: $discord;
    color: white;
  }
}

.subtitle {
  color: $default;
  font-size: 12px;
  font-weight: 500;
}

.navbar-dark .navbar-nav {
  .nav-link,
  .nav-link-icon {
    color: white;

    &.active,
    &:hover {
      color: $primary;
    }
  }
}

.dropdown:hover,
.dropdown:focus,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:active {
  color: $primary;
}

.comunidade {
  p,
  li {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 1.5rem;
    text-align: justify;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    .nav-link {
      color: white !important;
      padding: 0;
    }
    .nav-item {
      margin-bottom: 1rem;
    }
  }

  .navbar-collapse,
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    background-color: #000;
    .navbar-toggler span {
      background-color: darkgray;
    }
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    .nav-item {
      margin-right: 1rem;
    }
    .btn-login {
      margin-left: 1rem;
    }
  }
}

p {
  font-size: 17px;
  font-weight: 400;
}

.lead {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.text-primary {
  font-weight: 800;
}

.thumb-video {
  width: 100px;
}

.video {
  width: 100%;
  margin: var(--space);
  text-align: center;
}

.active {
  color: $primary;
}

iframe {
  width: 100%;
}

.legenda-video {
  display: block;
}

.checkout {
  color: $checkout;
}

.btn-checkout {
  color: white;
  background-color: $checkout;

  &:hover,
  &:focus {
    color: white;
  }
}

.btn-faq {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.vertical-timeline-element-content,
.vertical-timeline-element-title,
.vertical-timeline-element-subtitle {
  color: black !important;
}

.garantia {
  text-align: center;
  img {
    max-width: 200px;
    width: 100%;
  }
}

.footer-link {
  font-weight: 600;
}


.h1 {
  color: $primary;
}

.quiz-chart {
  height: 600px;
}

.bold {
  font-weight: bold;
}